.debug
{
  display: none;
}

.record-view
{
  div
  {
    line-height: initial;
  }
  height: 100%;
  .status-stopped
  {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .status-recording
  {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    color: red;
  }
  .status-playing
  {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    color: green;
  }
  
  .jumps
  {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #788084;
    color: #F1E6D4;
    margin-bottom: 20px;
    font-size: 30px;
    .skip
    {
      border: 1px solid white;
      display: inline-block;
      border-radius: 3px;
      position: relative;
      top: 4px;      
      .ion-arrow-left-b, .ion-arrow-right-b
      {
        display: inline-block;
      }
    }
  }
  .timer
  {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 45px;
    background-color: #777C80;
    padding: 10px;
    color: #F1E6D4;
    margin-bottom: 20px;
    letter-spacing: -7px;
    
  }
  .run_time
  {
    color: white;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
  }
  .controls
  {
    text-align: center;
    .fc-button
    {
      
      width: 120px;
      height: 120px;
      padding: 10px;
      text-align: center;
      font-size: 117px;
      margin-left: auto;
      margin-right: auto;
      text-shadow: 2px 1px gray;
      padding-top: 0px;
      display: inline-block;
      border-radius: 60px;    
      vertical-align: top;
    }
    .record
    {
      color: red;
    }
    .stop
    {
      border: 1px solid black;
      color: black;
      .ion-stop
      {
        font-size: 87px;
        top: 14px;
        position: relative;
      }
    }
    .stop-record
    {
      border: 1px solid black;
      color: red;
      .ion-stop
      {
        font-size: 87px;
        top: 14px;
        position: relative;
      }
    }
    .play
    {
      color: green;
      .ion-play
      {
        position: relative;
        left: 10px;
      }
    }
  }
}

.finish-view
{
  .saved-in-cloud
  {
    font-size: 210px;
    text-align: center;
  }
  .published-to-listeners
  {
    font-size: 210px;
    text-align: center;
  }
    
}
.finalize-view
{
  .uploader
  {
    .type
    {
      text-transform: capitalize;
    }
  }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}