# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

sass/.sass-cache
platforms/ios/cordova/*.log
platforms/ios/FastCast.xcodeproj/project.xcworkspace/xcuserdata/uncovered.xcuserdatad/UserInterfaceState.xcuserstate
platforms/ios/www
www
!www/img
build