<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.app138361" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FastCast</name>
  <description>
        The fastest podcasting platform. Zero to hero in one touch.
    </description>
  <author email="ben@benallfree.com" href="http://www.benallfree.com/">
    Ben Allfree
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="iosPersistentFileLocation" value="Library" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="BackgroundAudio">
    <param name="ios-package" value="BackgroundAudio" />
    <param name="onload" value="true" />
  </feature>  
</widget>