!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", name: "viewport"}
    %title
    %link{href: "css/ionic.app.css", rel: "stylesheet"}
    %link{href: "css/style.css", rel: "stylesheet"}
    %script{src: "lib/jquery/dist/jquery.min.js"}
    %script{src: "lib/ionic/js/ionic.bundle.js"}
    %script{src: "lib/sprintf/dist/sprintf.min.js"}
    %script{src: "lib/ngCordova/dist/ng-cordova.js"}
    %script{src: "cordova.js"}
    %script{src: "js/app.js"}
  %body{"ng-app": "fastcast", "ng-controller": "FastCast"}
    %ion-nav-bar.bar-positive
      %ion-nav-back-button Back
    %ion-nav-view