!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", name: "viewport"}
    %title
    %link{href: "all.css", rel: "stylesheet"}
    %script{src: "lib/jquery/dist/jquery.min.js"}
    %script{src: "lib/ionic/js/ionic.bundle.js"}
    %script{src: "lib/angular-ios9-uiwebview-patch/angular-ios9-uiwebview-patch.js"}
    %script{src: "lib/sprintf/dist/sprintf.min.js"}
    %script{src: "lib/handlebars/handlebars.js"}
    %script{src: "lib/moment/min/moment.min.js"}
    %script{src: "lib/ngCordova/dist/ng-cordova.js"}
    %script{src: "cordova.js"}
    %script{src: "all.js"}

  %body{"ng-controller": "AppController", id: 'body'}
    %ion-side-menus
      %ion-side-menu{side: "left"}
        %ion-header-bar.bar-assertive
          %h1.title Settings
        %ion-content
          %ion-list
            %ion-item.menu-close{'ng-click': 'settings()'} Podcast Settings
      %ion-side-menu-content
        %ion-nav-bar
          %ion-nav-back-button
        %ion-nav-view
