!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", :name => "viewport"}
        %title
        %link{:href => "css/ionic.app.css", :rel => "stylesheet"}
          %link{:href => "css/style.css", :rel => "stylesheet"}
            %script{:src => "lib/jquery/dist/jquery.min.js"}
            %script{:src => "lib/ionic/js/ionic.bundle.js"}
            %script{:src => "cordova.js"}
            %script{:src => "js/app.js"}
  %body{"ng-app" => "fastcast", "ng-controller" => "FastCast"}
    %ion-tabs.tabs-positive.tabs-icon-only
      %ion-tab{"icon-off" => "ion-ios-list-outline", "icon-on" => "ion-ios-list", :title => "Episodes"}
        %ion-content
          Episodes
      %ion-tab{"icon-off" => "ion-mic-c", "icon-on" => "ion-mic-c", :title => "Record"}
        .bar.bar-header.bar-positive
          %h1.title bar-positive
        %ion-content.recorder.has-header{"ng-if" => "!has-recording"}
          .status{"ng-if" => "!is_recording"}
            Stopped
          %div{"ng-if" => "is_recording"}
            .status-recording
              Recording
          #timer.timer
            00:00:00.000
          .record{"ng-click" => "record()", "ng-if" => "!is_recording"}
            %span.ion-record
          .recording{"ng-click" => "stop()", "ng-if" => "is_recording"}
            %span.ion-stop
        %ion-content{"ng-if" => "has-recording"}
          %button{"ng-click" => "publish()", "ng-if" => "has_recording"} Publish
          %progress#progress{:max => "100", "ng-if" => "is_uploading", :value => "0"}
      %ion-tab{"icon-off" => "ion-ios-gear-outline", "icon-on" => "ion-ios-gear", :title => "Settings"}
        %ion-content
          Settings