<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, , user-scalable=no">
    <meta property="fb:app_id"             content="937591452943803"/>
    <meta property="og:url"                content="http://www.fast-cast.net/podcasts/<%- podcast.code%>/episodes/<%- episode.slug %>/" />
    <meta property="og:type"               content="fastcastapp:podcast" />
    <meta property="og:title"              content="<%- sprintf("%03d - %s", episode.number, episode.title) %>" />
    <meta property="og:description"        content="<%- episode.description %>" />
    <meta property="og:image"              content="http://www.fast-cast.net/podcasts/<%- podcast.code %>/logo.jpg" />

    <title><%- sprintf("%03d - %s", episode.number, episode.title) %> | <%- podcast.title %></title>

    <link rel="stylesheet" crossorigin="anonymous" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw=" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" crossorigin="anonymous" integrity="sha256-o8bM0Z5cFvrvvvQp0EJFi4LICvBA9FCx7iCNuojVsN8=" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/v1/css/episode.css">
    <script crossorigin="anonymous" integrity="sha256-ImQvICV38LovIsvla2zykaCTdEh1Z801Y+DSop91wMU=" src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1497159643900204";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%- podcast.title %></a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>    
    <div class="container">
      <div class="jumbotron">
        <h1><%- sprintf("%03d - %s", episode.number, episode.title) %></h1>
        <p><img src="../../logo.jpg"/><%- episode.description %></p>
        <div class="clearfix"></div>
      </div>
      <div class="audio-header text-center">
        <% if(podcast.itunes_url) { %>
          <div class="icon icon-itunes">
            <a href="<%- podcast.itunes_url.replace(/https?:/, 'itms:') %>"><img src="/assets/v1/img/itunes-button.png"/></a>
          </div>
        <% } %>
        <div class="icon icon-rss">
          <a href="http://www.fast-cast.net/podcasts/<%- podcast.code %>/feed.rss"><img src="/assets/v1/img/rss-button.png"/></a>
        </div>
        <div class="icon icon-twitter">
          <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="<%- sprintf("%03d - %s", episode.number, episode.title) %>">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>       
        </div>
        <div class="icon icon-facebook">
          <div class="fb-share-button" data-href="http://www.fast-cast.net/podcasts/<%- podcast.code %>/episodes/<%- episode.slug %>/" data-layout="button"></div>
        </div>
      </div>
      <audio controls
      	<source src="http://www.fast-cast.net/podcasts/<%- podcast.code %>/episodes/<%- episode.slug %>/<%- episode.slug %>.m4a" type="audio/mpeg" />
      </audio>
      <div class="row show-info">
        <div class="col-xs-4 text-left">
          <%- podcast.author %>
        </div>
        <div class="col-xs-8 text-right">
          <%- rfc2822(episode.published_at) %>
        </div>
      </div>
      
    </div>
    <div class="fb-comments" data-href="http://www.fast-cast.net/podcasts/<%- podcast.code %>/episodes/<%- episode.slug %>/" data-numposts="10"></div>

    <script id="episodesTmpl" type="text/x-jsrender">
      <ul>
        {{for episodes}}
          <li><a href="{{:url}}"><img src="{{:image}}"/>{{:title}}</a></li>
        {{/for}}
      </ul>
    </script>
    <div class="container">
      <div id='episodes'>
        <h3>More Episodes</h3>
      </div>
    </div>


    <script crossorigin="anonymous" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo=" src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" integrity="sha256-HmmD9koUCcfzc6y9gU2nyfYMY9XWIyYa1e4VPZFfHaI=" src="https://cdn.jsdelivr.net/jsrender/1.0pre62/jsrender.min.js"></script>
    <script src="/assets/v1/js/app.js"></script>
  </body>
</html>
