%ion-view
  %ion-nav-title
    %span{'ng-if': 'episode.title'}
      <%episode.number | numberFixedLen:3%> - <%episode.title%>
    %span{'ng-if': '!episode.title'}
      New Episode
  %ion-nav-buttons{side: "left"}          
  %ion-nav-buttons{side: 'secondary'}
    %button.button.button-assertive{'ng-click': 'cancel()', 'ng-if': 'has_changes'} Cancel
  %ion-content.padding{scroll: 'false'}
    .record-view
      %div{"ng-if": "!is_recording && !is_playing"}
        .status-stopped
          Stopped
      %div{"ng-if": "is_recording"}
        .status-recording
          Recording
      %div{"ng-if": "is_playing"}
        .status-playing
          Playing
      .timer
        #timer
          <%scrub_point_ms.toHHMMSS(true)%>
        .run_time
          Total <%duration_ms.toHHMMSS(true)%>
      .jumps{"ng-if": "has_recording && !is_recording"}
        %button.button.button-small.skip{"ng-click": "seek(0)"}
          .ion-skip-backward
        %button.button.button-small.skip{"ng-click": "step(-60000)", 'on-hold': "hold(-60000)", 'on-release': "hold(null)"}
          .ion-ios-rewind
        %button.button.button-small.skip{"ng-click": "step(-15000)", 'on-hold': "hold(-15000)", 'on-release': "hold(null)"}
          .ion-arrow-left-b
        %button.button.button-small.skip{"ng-click": "step(15000)", 'on-hold': "hold(15000)", 'on-release': "hold(null)"}
          .ion-arrow-right-b
        %button.button.button-small.skip{"ng-click": "step(60000)", 'on-hold': "hold(60000)", 'on-release': "hold(null)"}
          .ion-ios-fastforward
        %button.button.button-small.skip{"ng-click": "seek(-1)"}
          .ion-skip-forward

      .controls
        .fc-button.play{"ng-click": "play()", "ng-if": "has_recording && !is_playing"}
          .ion-play
        .fc-button.stop{"ng-click": "stop_playing()", "ng-if": "is_playing"}
          .ion-stop
        .fc-button.record{"ng-click": "record()", "ng-if": "!is_recording && !is_playing"}
          .ion-record
        .fc-button.stop-record{"ng-click": "stop_recording()", "ng-if": "is_recording"}
          .ion-stop
      .fx
        %button.button{"ng-click": "drop('intro')", "ng-if": "is_recording"}
          Intro
        %button.button{"ng-click": "drop('error')", "ng-if": "is_recording"}
          Error
          
      .publish{"ng-if": "has_recording"}
        %button.button.button-block.button-positive{'nav-direction': 'forward', 'ui-sref': 'episode.finalize'} Finalize
