
<ion-view>
<ion-nav-title>
<span ng-if="episode.title"><%episode.number | numberFixedLen:3%> - <%episode.title%></span>
<span ng-if="!episode.title">New Episode</span></ion-nav-title>
<ion-nav-buttons side="left"></ion-nav-buttons>
<ion-nav-buttons side="secondary">
<button ng-click="cancel()" ng-if="has_changes" class="button button-assertive">Cancel</button></ion-nav-buttons>
<ion-content scroll="false" class="padding">
<div class="record-view">
<div ng-if="!is_recording &amp;&amp; !is_playing">
<div class="status-stopped">Stopped</div></div>
<div ng-if="is_recording">
<div class="status-recording">Recording</div></div>
<div ng-if="is_playing">
<div class="status-playing">Playing</div></div>
<div class="timer">
<div id="timer"><%scrub_point_ms.toHHMMSS(true)%></div>
<div class="run_time">Total <%duration_ms.toHHMMSS(true)%></div></div>
<div ng-if="has_recording &amp;&amp; !is_recording" class="jumps">
<button ng-click="seek(0)" class="button button-small skip">
<div class="ion-skip-backward"></div></button>
<button ng-click="step(-60000)" on-hold="hold(-60000)" on-release="hold(null)" class="button button-small skip">
<div class="ion-ios-rewind"></div></button>
<button ng-click="step(-15000)" on-hold="hold(-15000)" on-release="hold(null)" class="button button-small skip">
<div class="ion-arrow-left-b"></div></button>
<button ng-click="step(15000)" on-hold="hold(15000)" on-release="hold(null)" class="button button-small skip">
<div class="ion-arrow-right-b"></div></button>
<button ng-click="step(60000)" on-hold="hold(60000)" on-release="hold(null)" class="button button-small skip">
<div class="ion-ios-fastforward"></div></button>
<button ng-click="seek(-1)" class="button button-small skip">
<div class="ion-skip-forward"></div></button></div>
<div class="controls">
<div ng-click="play()" ng-if="has_recording &amp;&amp; !is_playing" class="fc-button play">
<div class="ion-play"></div></div>
<div ng-click="stop_playing()" ng-if="is_playing" class="fc-button stop">
<div class="ion-stop"></div></div>
<div ng-click="record()" ng-if="!is_recording &amp;&amp; !is_playing" class="fc-button record">
<div class="ion-record"></div></div>
<div ng-click="stop_recording()" ng-if="is_recording" class="fc-button stop-record">
<div class="ion-stop"></div></div></div>
<div class="fx">
<button ng-click="drop('intro')" ng-if="is_recording" class="button">Intro</button>
<button ng-click="drop('error')" ng-if="is_recording" class="button">Error</button></div>
<div ng-if="has_recording" class="publish">
<button nav-direction="forward" ui-sref="episode.finalize" class="button button-block button-positive">Finalize</button></div></div></ion-content></ion-view>