.record-view {
  height: 100%; }
  .record-view
div {
    line-height: initial; }
  .record-view
.status-stopped {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px; }
  .record-view
.status-recording {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    color: red; }
  .record-view
.status-playing {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    color: green; }
  .record-view
.jumps {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #788084;
    color: #F1E6D4;
    margin-bottom: 20px;
    font-size: 30px; }
    .record-view
.jumps
.skip {
      border: 1px solid white;
      display: inline-block;
      border-radius: 3px;
      position: relative;
      top: 4px; }
      .record-view
.jumps
.skip .ion-arrow-left-b, .record-view
.jumps
.skip
.ion-arrow-right-b {
        display: inline-block; }
  .record-view
.timer {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 45px;
    background-color: #777C80;
    padding: 10px;
    color: #F1E6D4;
    margin-bottom: 20px;
    letter-spacing: -7px; }
  .record-view
.run_time {
    color: white;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px; }
  .record-view
.controls {
    text-align: center; }
    .record-view
.controls
.fc-button {
      width: 120px;
      height: 120px;
      padding: 10px;
      text-align: center;
      font-size: 117px;
      margin-left: auto;
      margin-right: auto;
      text-shadow: 2px 1px gray;
      padding-top: 0px;
      display: inline-block;
      border-radius: 60px;
      vertical-align: top; }
    .record-view
.controls
.record {
      color: red; }
    .record-view
.controls
.stop {
      border: 1px solid black;
      color: black; }
      .record-view
.controls
.stop
.ion-stop {
        font-size: 87px;
        top: 14px;
        position: relative; }
    .record-view
.controls
.stop-record {
      border: 1px solid black;
      color: red; }
      .record-view
.controls
.stop-record
.ion-stop {
        font-size: 87px;
        top: 14px;
        position: relative; }
    .record-view
.controls
.play {
      color: green; }
      .record-view
.controls
.play
.ion-play {
        position: relative;
        left: 10px; }

.finish-view
.saved-in-cloud {
  font-size: 210px;
  text-align: center; }

.finish-view
.published-to-listeners {
  font-size: 210px;
  text-align: center; }

.finalize-view
.uploader
.type {
  text-transform: capitalize; }

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }
